<!DOCTYPE html>
<html>
<head>
  <title>Tester</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <style>
      a {
          margin: 0 0 0 33px;
          background-color: orange;
          border-radius: 15px;
          padding: 5px 5px;
          box-shadow: 0 4px rgb(128, 128, 128);
          color: black;
          text-decoration: none;
          border: greenyellow;
      }
  </style>
</head>

<body>
<%= yield %>
</body>
</html>
