<h1>Práce s textovými políčky</h1>
Tato aplikace Ruby on Rails vám dovoluje číst data z textových políček.
<br>
<%= form_tag('\hele\tady', :method => "get") do %>
  Zadejte prosím své jméno.
  <br>
  <%= text_field_tag("text1", "", { "size" => 30 }) %>
  <br>
  Zadejte prosím svůj věk.
  <br>
  <%= number_field_tag("age") %>
  <br>
  Zvol volbu.
  <br>
  <%= check_box_tag("volba" "Yes", false) %> text
  <br>
  Select
  <br>
  <%= select_tag("vyber[]2", options_for_select([['one', 'one'], ['two', 'two']]), { :multiple => true }) %>
  <br>
  <%= select_tag("vyber[]", options_for_select([['one', 'one'], ['two', 'two']]), { :multiple => false }) %>
  <br>
  Radios
  <br>
  <%= radio_button_tag("skupina", "a") %>A
  <br>
  <%= radio_button_tag("skupina", "b") %>B
  <br>
  <%= radio_button_tag("skupina", "c") %>C
  <br>
  <input type="submit"/>
<% end %>